@import 'style.css';

main h1{
    margin: 0 5% 0 5%;
}
main h1{
    margin-top: 10%;
    margin-bottom: 1%;
    color: #e34234;
    font-size: 3vw;
    font-family: "Raleway";
    text-align: center;
}
#container{
    width:auto;
    display: inline-flex;
    margin: 0 5% 5% 5%;
}
main img{
    max-height: 20%;
    max-width: 20%;
    margin-left: 2vw;
}
p{
    max-width: auto;
    color: whitesmoke;
    font-size: 1.5vw;
    font-family: "Quicksand";
    text-align: justify;
    text-indent: 3vw;
}
