@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@200&display=swap');

* {margin:0; border:0; padding:0;} 

body{
    min-height: 800px;
    border: 3px solid;
    background-image: url(../images_folder/stars.png);
    background-size: 150px 150px;

}
header{
    height: 15vw;
    border: 1px solid;
    margin: 0 5% 0 5%; 
    display: flex;
}
#logo, #logo img{
    max-height: 100%;
    max-width: 210px;
    background-color: #0e0e0e;
    border-top-left-radius: 15px;
}
#banner{
    max-height:100%;
    width:100%;
    background-image: url(../images_folder/banner.jpg);
    border-top-right-radius: 15px;
}
nav{
    max-height:3vw;
    margin: 0.4% 5% 0 5%;
    text-align: center;
    display:flex;
}
nav > ul{
    flex-grow: 1;
    display:flex;
    background-color: #e34234;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
nav > ul > li{  
    max-height:100%;
    flex-grow:1;
    list-style: none;
    padding: 0.4% 0 0 0;
}
nav > ul > li > ul{
    margin-top: .74vw;
}
nav > ul > li > ul > li{
    height:3vw;
    width: 12.5vw;
    margin: 0 auto 0 auto;
    background-color: #b8291c;
    display: none;
}
nav a{
    max-width:auto;
    color:whitesmoke;
    font-size:1.5vw;
    font-family: 'Quicksand';
    font-weight: 300;
    text-decoration: none;
}
nav > ul > #nav_left:hover{  
    background-color:rgb(165, 165, 165);
    border-bottom-left-radius: 10px;
}
nav > ul > li:hover, nav > ul > li > ul > li:hover{  
    background-color:rgb(165, 165, 165);
}
nav > ul > #nav_right:hover{  
    background-color:rgb(165, 165, 165);
    border-bottom-right-radius: 10px;
}
nav > ul > li:hover > ul > li{
    display: block;
}


footer{
    height: 30.5vw;
    margin: 0 5% 0 5%;  
    background-color: #0e0e0e;
    display: flex;
    padding-left: 2%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
footer ul{
    flex-grow:1;
    padding:3% 2% 2% 0;
    color: whitesmoke;
    list-style: none;
    font-size: 1vw;
    font-family: "Raleway";
}
footer img{
    height: 7vw;
    width: 7vw;
}
footer h1{
    color:#e34234;
}
footer h3{
    text-align: left;
    margin-bottom: 3px;
}
